<img id="profile-banner" src="" />
<img id="profile-img" src="" />
<h1 id="profilename" class="uppercase"></h1>
<p id="profile-bio"></p>
<a href="" id="profile-credits" class="uppercase"></a>
<a href="/my-profile/update" class="uppercase">Update profile</a>
<h2>My listings</h2>
<ul>
  <li><a href="/listing/create">Add new listing</a></li>
  <li><a href="/my-listings/active">My active listings</a></li>
  <li><a href="">My previous listings</a></li>
</ul>
<h2>Activity on other listings</h2>
<ul>
  <li><a>Wishlist & Active bids</a></li>
  <li><a>Bid history</a></li>
</ul>
