<img id="profile-banner" src="" />
<img id="profile-img" src="" />
<h1>Username. Will fetch dynamically.</h1>
<p>Here is a funny bio about the user. Will fetch dynamically.</p>
<a href="">Balance: fetch dynamically</a>
<a href="/my-profile/update">Update profile</a>
<h2>My listings</h2>
<ul>
  <li><a>Add new listing</a></li>
  <li><a>My active listings</a></li>
  <li><a>My previous listings</a></li>
</ul>
<h2>Activity on other listings</h2>
<ul>
  <li><a>Wishlist & Active bids</a></li>
  <li><a>Bid history</a></li>
</ul>
