<!-- Will this be its own page or will it be a dropdown? -->

<img id="profile-banner" src="" />
<img id="profile-img" src="" />
<h1>Username. Will fetch dynamically.</h1>
<form name="updateProfile">
  <label for="profile-img-url">Profile picture</label>
  <input
    type="url"
    name="profile-img-url"
    id="profile-img-url"
    placeholder="Type url here..."
  />
  <label for="profile-banner-url">Banner</label>
  <input
    type="url"
    name="profile-banner-url"
    id="profile-banner-url"
    placeholder="Type url here..."
  />
  <label for="bio">Bio</label>
  <textarea name="bio" id="bio"></textarea>
  <button>Update profile</button>
</form>
<!-- Should this be a quote tag? -->
<p>
  "In moments of doubt, remember that being yourself is your greatest power."
</p>
