<body
  class="bg-background text-copy font-sans min-h-screen flex items-center justify-center"
>
  <div
    id="user-message-container"
    role="alert"
    class="fixed inset-0 z-50 flex items-center justify-center hidden bg-black bg-opacity-30"
  >
    <div
      class="bg-white rounded-lg shadow-2xl max-w-sm w-full p-6 transform transition-all duration-300 scale-90 hover:scale-100"
    >
      <h2
        aria-hidden="true"
        id="message-title"
        class="font-serif font-extrabold uppercase text-center mb-4 text-lg tracking-wide"
      ></h2>
      <p
        id="message-description"
        class="text-center text-copy text-base leading-relaxed"
      ></p>
      <button
        id="dismiss-btn"
        class="mt-4 w-full text-white py-2 px-4 rounded hover:font-bold"
      >
        Dismiss
      </button>
    </div>
  </div>
  <h1 class="text-sm md:text-4xl font-serif mb-6 ml-5 uppercase">
    Create a new account
  </h1>
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row gap-8 items-start min-h-full">
      <div class="bg-accent text-white p-6 rounded-md w-full md:w-2/3">
        <form name="register" class="space-y-4">
          <div>
            <label for="name" class="block text-sm font-medium mb-1">
              Username*
            </label>
            <input
              id="name"
              type="text"
              name="name"
              required
              maxlength="20"
              pattern="^[\w]+$"
              title="Please enter a username using only letters and numbers"
              placeholder="Create your username"
              class="w-full px-3 py-2 border border-gray-300 rounded text-gray-800"
            />
          </div>
          <div>
            <label for="email" class="block text-sm font-medium mb-1">
              Email*
            </label>
            <input
              id="email"
              type="email"
              name="email"
              required
              pattern="^[\w\-.]+@(stud\.)?noroff\.no$"
              title="Please enter a valid noroff.no or stud.noroff.no address"
              placeholder="name@stud.noroff.no"
              class="w-full px-3 py-2 border border-gray-300 rounded text-gray-800"
            />
          </div>
          <div>
            <label for="password" class="block text-sm font-medium mb-1">
              Password*
            </label>
            <input
              type="password"
              name="password"
              id="password"
              required
              minlength="8"
              placeholder="Create a strong password"
              class="w-full px-3 py-2 border border-gray-300 rounded text-gray-800"
            />
          </div>
          <div class="pt-4">
            <button
              type="submit"
              class="w-full bg-white text-accent py-2 px-4 rounded hover:font-bold uppercase"
            >
              Sign up
            </button>
          </div>
        </form>
      </div>

      <div class="bg-primary text-white p-4 rounded-md w-full md:w-1/3">
        <h2 class="text-lg font-serif mb-4 uppercase">
          What you'll find in your account
        </h2>
        <ul class="space-y-2 text-sm">
          <li>Add your own listings</li>
          <li>Access your order history</li>
          <li>Manage your personal information</li>
          <li>Register your wishlist</li>
        </ul>
      </div>
    </div>
  </div>
</body>
