<section>
  <div>
    <h1>Frequently Asked Questions</h1>
    <p>
      We've compiled answers to some of the most common questions about Auction
      House. If you need further assistance, feel free to
      <a href="/contact">contact us</a>.
    </p>
  </div>
  <div>
    <h2>General Questions</h2>
    <details>
      <summary>What is Auction House?</summary>
      <p>
        Auction House is a premier online platform for buying and selling luxury
        items such as watches, handbags, jewelry, and more. We connect
        discerning buyers and sellers in a trusted marketplace.
      </p>
    </details>
    <details>
      <summary>Do I need an account to bid on items?</summary>
      <p>
        Yes, you must create an account to participate in auctions. Registered
        users receive 1,000 credits upon joining to start bidding.
      </p>
    </details>
    <details>
      <summary>Is there a fee to create an account?</summary>
      <p>No, creating an account on Auction House is completely free.</p>
    </details>
    <details>
      <summary>How do I know if an item is authentic?</summary>
      <p>
        Auction House works exclusively with verified sellers who meet our
        strict authenticity requirements. Every item listed goes through a
        thorough verification process to ensure its authenticity. If you have
        concerns about an item, please contact our support team.
      </p>
    </details>
  </div>
  <div>
    <h2>Buying & Bidding</h2>
    <details>
      <summary>How do I place a bid on an item?</summary>
      <p>
        To place a bid, simply log in to your account, navigate to the item's
        listing page, and click the "Place Bid" button. Enter your bid amount,
        and confirm your bid.
      </p>
    </details>
    <details>
      <summary>What happens if I win an auction?</summary>
      <p>
        If you win an auction, the item's price will be deducted from your
        available credits and transferred to the seller.
      </p>
    </details>
    <details>
      <summary>Can I cancel my bid?</summary>
      <p>
        Once a bid is placed, it cannot be canceled. Please ensure you're
        confident in your bid before confirming it.
      </p>
    </details>
  </div>
  <div>
    <h2>Selling</h2>
    <details>
      <summary>How do I list an item for auction?</summary>
      <p>
        To list an item, log in to your account, navigate to your profile, and
        click "Add new Listing." Enter the details of your item, upload images,
        and set an auction deadline.
      </p>
    </details>
    <details>
      <summary>What if I need to edit or delete a listing?</summary>
      <p>
        To edit a listing, log in to your account, navigate to your profile, and
        click "My active listings." Here you will have the option of clicking on
        "Edit" or "Delete", to edit or delete your listing respectively.
      </p>
    </details>
    <details>
      <summary>What happens if my item doesn't sell?</summary>
      <p>
        If your item doesn't receive any bids by the auction deadline, you'll
        have the option to relist it. Currently you have to add a new listing
        with a new deadline to do this.
      </p>
    </details>
  </div>
  <div>
    <h2>Account</h2>
    <details>
      <summary>
        Why doesn't my profile have a banner, profile image or bio?
      </summary>
      <p>
        To make the registration of an account as fast as possible, you only
        register with a username, email, and password. If you wish to add a
        profile image, banner or bio, navigate to your profile and click "Update
        profile". You can also update your information in the same way any time
        you wish.
      </p>
    </details>
    <details>
      <summary>
        What's the difference between "My active listings" and "My previous
        listings" as seen on my profile?
      </summary>
      <p>
        "My active listings" are the listings that you've added that are
        currently active and that others can bid on. "My previous listings" are
        inactive listings that have either been sold or have reached the auction
        deadline.
      </p>
    </details>
    <details>
      <summary>
        What's the difference between "My wishlist" and "My active bids"?
      </summary>
      <p>
        "My wishlist" are the listings that you've added to your wishlist that
        you are interested in, but have not put in bids for yet. "My active
        bids" are listings that you have placed a bid on that are still active.
        Your last bid can be seen as "My current bid". To see all bids placed on
        the listing, click on the listing to view in detail.
      </p>
    </details>
    <details>
      <summary>
        What are "Listings won" and "Listings lost" as seen under "Bid history"
        on my profile?
      </summary>
      <p>
        "Bid history" is a record of your interactions with listings for your
        convenience. "Listings won" are the listings that you have won by
        placing the highest bid before the auction deadline. "Listings lost" are
        listings that you have lost to others that have put in bids higher than
        you before the auction deadline.
      </p>
    </details>
  </div>
</section>
