<div
  id="user-message-container"
  role="alert"
  class="fixed inset-0 z-50 flex items-center justify-center hidden bg-black bg-opacity-30">
  <div
    class="bg-white rounded-lg shadow-2xl max-w-sm w-full p-6 transform transition-all duration-300 scale-90 hover:scale-100">
    <h2
      aria-hidden="true"
      id="message-title"
      class="font-serif font-extrabold uppercase text-center mb-4 text-lg tracking-wide">
    </h2>
    <p
      id="message-description"
      class="text-center text-copy text-base leading-relaxed">
    </p>
    <button
      id="dismiss-btn"
      class="mt-4 w-full text-white py-2 px-4 rounded hover:font-bold">
      Dismiss
    </button>
  </div>
</div>
<section class="ml-4 mr-4 pb-5">
  <h1 class="font-serif font-bold uppercase">Sustainability</h1>
  <p>
    At <strong>Auction House</strong>, we believe sustainability is more than
    just a responsibility; it is a lifestyle choice—one that combines elegance,
    luxury, and a deep respect for our planet. Our platform is designed to
    breathe new life into pre-loved items, offering them a chance to be
    cherished anew. Sustainability can be as sophisticated as it is essential,
    and at Auction House, every bid is a step towards a more sustainable and
    stylish future.
  </p>
</section>
<ul
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-6 ml-3 mr-3">
  <li
    class="bg-accent text-background border border-black dark:border-background p-6">
    <strong>Luxury Meets Sustainability</strong> Sustainability and luxury are
    no longer opposites. At Auction House, we redefine what it means to live
    sustainably by curating high-quality, pre-owned items that embody timeless
    elegance. Each item is a testament to the idea that style and sustainability
    can coexist harmoniously, proving that conscious choices can elevate, rather
    than compromise, your lifestyle.
  </li>
  <li
    class="bg-accent text-background border border-black dark:border-background p-6">
    <strong>Extending the Life of Treasured Items</strong> Every item sold on
    Auction House tells a story, and we believe those stories deserve to
    continue. By giving new homes to pre-loved items, we reduce waste and honor
    the craftsmanship behind every piece. This cycle of reuse and renewal not
    only preserves the beauty of the past but also helps protect the future.
  </li>
  <li
    class="bg-accent text-background border border-black dark:border-background p-6">
    <strong>Sustainable Shopping Without Compromise</strong> Auction House
    empowers you to make environmentally responsible decisions without
    sacrificing elegance or quality. Our platform offers an opportunity to
    invest in timeless pieces that align with your values. Shopping sustainably
    shouldn't mean settling for less; it means choosing better—for yourself and
    for the planet.
  </li>
  <li
    class="bg-accent text-background border border-black dark:border-background p-6">
    <strong>A Commitment to a Greener Future</strong> We are passionate about
    creating a marketplace that prioritizes sustainability at every level. From
    encouraging mindful consumption to reducing the demand for new production,
    Auction House is committed to a greener, more thoughtful way of living.
    Together, we can shape a future where sustainability and sophistication are
    intrinsically linked.
  </li>
</ul>
<section class="m-4">
  <p>
    Join us at <strong>Auction House</strong>, where sustainability is a
    celebration of luxury, elegance, and enduring beauty. Together, we can
    create a world where every item has the chance to be loved again.
  </p>
</section>
