<body
  class="bg-background text-copy dark:text-background font-sans min-h-screen"
>
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div id="main-content" class="md:col-span-2">
        <h1 id="title" class="text-2xl font-serif mb-2"></h1>
        <p
          id="small-description"
          class="text-sm text-copy dark:text-background mb-4"
        >
          Small description
        </p>
        <div id="media-container-main" class="main-image mb-4"></div>
        <div id="media-container" class="grid grid-cols-2 gap-4 mb-6"></div>
        <div id="description" class="description">
          <p class="text-sm text-copy dark:text-background"></p>
        </div>
      </div>

      <div class="flex flex-col gap-6 mt-20">
        <div class="bg-primary text-white p-6 rounded-md">
          <h2 class="text-lg font-semibold mb-4 uppercase">Current bid</h2>
          <p id="current-bid" class="text-4xl font-bold mb-6"></p>
          <div class="mb-4">
            <input
              name="bid-input"
              id="bid-input"
              type="number"
              class="w-full px-4 py-2 rounded border border-gray-300 text-copy"
            />
          </div>
          <div class="flex gap-4 mb-6">
            <button
              class="bg-background text-copy px-4 py-2 rounded w-full hover:font-bold"
            >
              Place bid
            </button>
            <button
              class="bg-background text-copy px-4 py-2 rounded w-full hover:font-bold"
            >
              Wishlist
            </button>
          </div>
          <div class="text-sm mb-6">
            <p class="flex items-center gap-2">
              🕒 Closes:<span id="auctionEnd"></span>
            </p>
          </div>
          <div id="bid-list" class="bid-list text-sm"></div>
        </div>

        <div class="bg-secondary text-white p-6 rounded-md">
          <h2 class="text-lg font-semibold mb-4 uppercase">Seller</h2>
          <p id="seller-name-container"></p>
          <p id="seller-listings"></p>
          <p class="flex items-center gap-2 mt-2">
            <i class="fa-regular fa-user"></i> All sellers are verified
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
