<div class="container mx-auto px-4">
  <div
    id="user-message-container"
    class="fixed inset-0 z-50 flex items-center justify-center hidden bg-black bg-opacity-30">
    <div class="bg-white rounded-lg shadow-2xl max-w-sm w-full p-6 transform transition-all duration-300 scale-90 hover:scale-100">
      <h2
        id="message-title"
        class="font-serif font-extrabold uppercase text-center mb-4 text-lg tracking-wide">
      </h2>
      <p
        id="message-description"
        class="text-center text-copy text-base leading-relaxed">
      </p>
      <button
        id="dismiss-btn"
        class="mt-4 w-full text-white py-2 px-4 rounded hover:font-bold">
        Dismiss
      </button>
    </div>
  </div>
  <h1 id="title" class="text-2xl mb-6 font-serif uppercase">Listings</h1>
  <div
    id="container"
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
  </div>
</div>
