<div
  id="user-message-container"
  role="alert"
  class="fixed inset-0 z-50 flex items-center justify-center hidden bg-black bg-opacity-30">
  <div
    class="bg-white rounded-lg shadow-2xl max-w-sm w-full p-6 transform transition-all duration-300 scale-90 hover:scale-100">
    <h2
      aria-hidden="true"
      id="message-title"
      class="font-serif font-extrabold uppercase text-center mb-4 text-lg tracking-wide">
    </h2>
    <p
      id="message-description"
      class="text-center text-copy text-base leading-relaxed">
    </p>
    <button
      id="dismiss-btn"
      class="mt-4 w-full text-white py-2 px-4 rounded hover:font-bold">
      Dismiss
    </button>
  </div>
</div>
<div id="content">
  <div class="w-full bg-background relative h-48 mt-9">
    <img
      id="profile-banner"
      src=""
      alt="Profile Banner"
      class="w-full h-full object-cover"
    />
  </div>
  <div
    class="relative -mt-12 px-6 flex flex-col items-center md:flex-row md:items-center md:space-x-6">
    <div class="w-24 h-24 rounded-full border-4 border-white overflow-hidden">
      <img
        id="profile-img"
        src=""
        alt="Profile Picture"
        class="w-full h-full object-cover"
      />
    </div>

    <section class="flex-1 text-center mt-6 md:mt-12 md:text-left">
      <h1 id="profilename" class="text-2xl font-bold uppercase font-serif"></h1>
      <p id="profile-bio" class="text-copy dark:text-background"></p>
    </section>
  </div>
  <section class="flex-1 text-center mt-6 md:mt-12 md:text-left">
    <h2 id="userListings" class="text-2xl font-bold uppercase font-serif">
      Listings
    </h2>
    <div
      id="listings-container"
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
    </div>
  </section>
</div>
